DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
FRONTEND_URL="http://localhost:5173"
PORT=3000

JWT_SECRET=""
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET=""
JWT_REFRESH_EXPIRES_IN="7d"

AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET=""
